.master-profile-information {
  background-color: #f6f5f5;

  &__about {
    padding: 30px;

    h6 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
    }

    border-bottom: 1px solid rgba(#000, .1);
  }

  &__about-id {
    color: #888888;
    font-size: 12px;
    display: block;
  }

  &__work-types {
    padding: 30px;

    h6 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .badge {
      font-size: 15px;
      padding: 11px 25px;
      margin-bottom: 10px;
      margin-right: 5px;
    }

    border-bottom: 1px solid rgba(#000, .1);
  }

  &__contact,
  &__history {
    padding: 30px;
    font-size: 15px;

    h6 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    border-bottom: 1px solid rgba(#000, .1);

    ul {
      margin: 0;
    }

    li {
      + li {
        margin-top: 5px;
      }
    }
  }

  &__history {
    border: none;
  }

  &__history-reviews {
    color: $color-primary;
    font-weight: 500;

    .icon {
      position: relative;
      top: 1px;
    }
  }
}
