.master-profile-prices {
  background-color: #f6f5f5;
  margin-bottom: 20px;

  .tab-content {
    padding: 5px 0 5px 0;
  }

  &__table {
    width: 100%;

    th {
      padding: 5px 20px 10px 20px;
      font-size: 18px;
      font-weight: 500;
      color: #000;
    }

    td {
      padding: 10px 20px;
      font-size: 15px;
      color: #000;

      &:last-child {
        text-align: right;
      }
    }

    tr {
      &:nth-child(even) {
        td {
          background: #EDEBEB;
        }
      }
    }
  }
}
