.testimonials-client {
  background-color: #f1f4f7;
  padding: 50px 0;

  .owl-dots {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    .owl-dot {
      width: 10px;
      height: 10px;
      border: none;
      border-radius: 50%;
      background: rgba(#000, .3);

      &.active {
        background: rgba(#000, .5);
      }

      + .owl-dot {
        margin-left: 20px;
      }
    }
  }

  &__heading {
    font-size: 50px;
    font-weight: 300;
    line-height:50px;
    text-align: center;
    margin-bottom: 45px;
  }

  &__item {
    padding: 0;
    text-align: center;
  }

  &__message {
    margin-top: 50px;
    font-size: 28px;
    line-height: 40px;
    color: #000;
    margin-bottom: 50px;
    font-weight: 300;
  }

  &__author {
    font-size: 24px;
    color: #000;
    font-weight: 300;
  }
}
