.footer-simple {
  border-top: 1px solid rgba(#000, .1);
  padding: 40px 0;

  &__logo,
  &__logo:hover {
    text-decoration: none;
    order: 1;
    font-family: $font-name;
    font-size: 30px;
    line-height: 30px;
    color: #222;
    text-transform: uppercase;
    margin-right: 56px;

    .colored {
      color: $header-link-primary-color;
    }
  }

  &__contact {
    margin-top: 20px;

    .row {
      + .row {
        margin-top: 16px;
      }
    }
  }

  &__contact-phone {
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  &__follow-us {
    display: inline-block;
    align-items: center;
    position: relative;
    top: -1px;
  }

  &__follow-us-item,
  &__follow-us-item:hover {
    text-decoration: none;
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@include mq(screen-lg, max) {
  .footer-simple {
    text-align: center;

    &__logo {
      margin-right: 0;
    }

    &__contact-header {
      margin-bottom: 10px;
      display: block;
      text-align: center;
    }
  }
}
