$breakpoints: (
  "phone":        400px,
  "phone-wide":   480px,
  "phablet":      560px,
  "tablet-small": 640px,
  "tablet":       768px,
  "screen-lg":    998px,
  "tablet-wide":  1024px,
  "desktop":      1200px,
  "desktop-wide": 1440px
);
