$font-name: "CircularStd" !default;
$iconfont-font-name: "iconfont" !default;
$text-font-name: "Open Sans" !default;

$base-font-size: 17px !default;

$border-radius: 3px !default;
$dropdown-icon-code: "\e002" !default;

$path-img: '../images/' !default;
