.header-simple-dark {
  background: #333;
  min-height: 47px;

  .navbar-nav {
    .nav-link {
      font-size: 20px;
      padding: 15px;
    }

    .nav-item {
      &:first-child {
        margin-left: -15px;
      }

      &.active,
      &:hover {
        .nav-link {
          color: #ffc71d;
        }
      }
    }
  }

  .navbar-toggler {
    right: 0;
    top: -2px;
  }
}

@include mq(screen-lg, max) {
  .header-simple-dark {
    .navbar-nav {
      padding-top: 35px;
      padding-bottom: 35px;

      .nav-item {
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}