.hero-master {
  min-height: 500px;
  position: relative;
  background: url("../images/master/hero.png") top center no-repeat;
  background-size: cover;
  padding-top: 110px;
  padding-bottom: 110px;
  text-align: center;

  &__heading {
    text-shadow: 0 5px 20px rgba(191, 143, 108, 0.25);
    color: #ffffff;
    font-size: 60px;
    font-weight: 500;
    line-height: 67px;
    margin-bottom: 79px;
  }

  &__post-job {
    color: #ffffff;
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
    padding: 17px 40px;
    border-color: $color-primary-light;
    background: $color-primary-light;

    &:hover {
      border-color: $color-primary-light-hover;
      background: $color-primary-light-hover;
    }
  }
}
