.hero-resume {
  min-height: 264px;
  background: url("../images/hero/man-with-phone.png") top center no-repeat;
  background-size: cover;
  padding: 40px 0 60px 0;

  &__heading {
    color: #fff;

    &--main {
      font-size: 30px;
      margin-bottom: 34px;
    }

    &--sub {
      font-size: 17px;
      margin-bottom: 15px;
      font-weight: 300;
    }
  }

  &__search-button {
    position: relative;
    margin-top: 32px;
    font-size: 20px;
    padding: 11px 15px;
  }

  label {
    color: #fff;
  }

  .form-control {
    border: none;
    padding: 11.5px 15px;
    font-size: 15px;
    color: #000;

    &:focus {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    }
  }

  .select2-container--default {
    .select2-selection--single {
      height: 47px;
      border: none;

      .select2-selection__arrow {
        height: 47px;
      }

      .select2-selection__rendered {
        line-height: 47px;
        border: none;
      }
    }
  }
}

