.hero-travel-trips {
  color: #fff;
  min-height: 390px;
  background: url("../images/hero/travel-trips.png") top center no-repeat;
  background-size: cover;
  padding-top: 107px;
  padding-bottom: 100px;

  &__heading {
    text-align: center;
    margin-bottom: 60px;
    font-size: 72px;
    font-weight: 300;
    line-height: 72px;
  }

  &__form {
    height: 50px;
    background: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
  }

  &__search-input {
    min-width: 50%;

    .form-control {
      font-size: 17px;
      color: #000;
      padding: 13px 1rem;
      border: none;
      height: 50px;

      &:focus {
        box-shadow: none;
      }

      &::placeholder {
        color: #939daa;
      }
    }

    .icon {
      font-size: 16px;
      color: rgba(#939daa, .5);
    }
  }

  &__select {
    width: 15%;
    position: relative;
    border-left: 1px solid #d3d9dd;

    .select2 {
      width: 100% !important; /* Redefine inline styles */
    }

    .select2-container--default {
      &.select2-container--open {
        box-shadow: none;
      }

      .select2-selection--single {
        border: none;
        height: 50px;

        .select2-selection__rendered {
          line-height: 30px;
          position: relative;
          top: 18px;
          font-size: 14px;
          color: #000;
        }

        .select2-selection__arrow {
          height: 50px;
        }
      }
    }
  }

  &__select-heading {
    position: absolute;
    top: 6px;
    left: 13px;
    font-size: 11px;
    text-transform: uppercase;
    color: #939daa;
    z-index: 2;
  }

  &__search-btn {
    font-size: 17px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@include mq(screen-lg, max) {
  .hero-travel-trips {
    padding-top: 50px;
    padding-bottom: 50px;

    &__heading {
      font-size: 52px;
      line-height: 62px;
    }

    &__form {
      flex-direction: column;
      height: auto;
      background: transparent;
    }

    &__search-input,
    &__select {
      width: 100%;
      margin-bottom: 30px;
      border: none;
    }

    &__search-btn {
      border-radius: 2px;
    }
  }
}
