.page-login {
  padding: 45px 20px 60px 20px;
  background-color: #f1f4f7;

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 70px;
    margin-bottom: 10px;
    text-align: center;
  }

  &__description {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  &__form {
    width: 520px;
    border-radius: 5px;
    background-color: #fff;
    padding: 40px;
  }

  .form-control {
    background-color: #f1f4f7;
    border-color: #f1f4f7;
    padding: 17px 15px;
  }

  .form-group {
    + .form-group {
      margin-top: 20px;
    }
  }

  .custom-control {
    margin-bottom: 0;
    border-radius: 4px;
  }

  .btn {
    border-radius: 4px;
  }

  &__forgot-password,
  &__forgot-password:hover {
    color: #8e8e93;
    text-decoration: none;
    border-bottom: 1px solid #8e8e93;
  }

  &__submit-btn {
    display: block;
    margin-top: 30px;
    padding: 17px 15px
  }

  &__form-footer {
    margin-top: 30px;
    border-top: 1px solid rgba(#000, .1);
    padding: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__signup-btn {
    padding: 15px 40px;
    border: 2px solid rgba(#000, .2);
  }

  .btn-facebook {
    border-radius: 4px;
    background-color: #4366b4;
    padding: 17px 20px;
    color: #fff;

    .icon {
      color: #fff;
      font-size: 26px;
      top: -3px;
      position: relative;
    }

    .text {
      flex-grow: 1;
    }
  }

  .btn-google-plus {
    border-radius: 4px;
    background-color: #fff;
    padding: 12px 20px;
    border: 2px solid rgba(#000, .2);
    color: #000;

    .icon {
      font-size: 34px;
      top: 2px;
      position: relative;
      color: #fc523f;
    }

    .text {
      flex-grow: 1;
    }
  }

  &__separator {
    text-align: center;
    border-top: 1px solid rgba(#000, .1);
    margin-top: 40px;
    margin-bottom: 13px;

    span {
      position: relative;
      top: -15px;
      display: inline-block;
      background: #fff;
      color: rgba(#000, .5);
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}
