.post-job {
  background-color: #f1f4f7;
  padding: 34px 40px;

  .form-group {
    margin-bottom: 30px;
  }

  .select2-container {
    width: 100% !important; /* Redefine inline styles */
  }

  &__auth {
    margin-top: 60px;
  }

  &__auth-separator {
    height: calc(100% - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    position: relative;
    margin-top: 34px;
    
    &:before {
      content: '';
      position: absolute;
      height: 100%;
      display: flex;
      width: 1px;
      background: rgba(#999999, .4);
      left: calc(50% - .5px);
      z-index: 0;
    }
    
    span {
      display: inline-block;
      line-height: 24px;
      background: #f1f4f7;
      z-index: 1;
    }
  }

  &__heading {
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 23px;
  }

  &__description,
  &__useful-tips-heading {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  &__useful-tips-heading {
    margin-bottom: 20px;
  }

  .form-control {
    font-size: 17px;
    border-radius: 3px;
  }

  label {
    font-size: 17px;

    .icon {
      color: rgba(#00579b, .8);
      font-size: 13px;
      position: relative;
      top: 7px;

      &:hover {
        color: #00579b;
      }
    }
  }

  &__useful-tip {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 22px;

    .point {
      color: $color-primary;
      font-weight: 700;
    }
  }

  &__submit-button {
    text-transform: uppercase;
    margin-top: 30px;
  }
  
  &__facebook-btn,
  &__linkedin-btn {
    position: relative;
    border: none;
    text-align: center;
    margin-bottom: 20px;

    .icon {
      font-size: 16px;
      line-height: 16px;
      position: relative;
      padding-left: 0;
    }
    
    .separator {
      width: 1px;
      height: 100%;
      background: rgba(#000, .15);
      position: absolute;
      left: 46px;
    }

    &.btn-icon {
      .text {
        padding: 0;
        flex: 1;
        margin-left: 1.8rem;
      }
    }
  }

  &__facebook-btn,
  &__facebook-btn:focus {
    background-color: #3b5998;

    &:hover {
      background-color: darken(#3b5998, 3%);
    }
  }

  &__linkedin-btn,
  &__linkedin-btn:focus {
    background-color: #007bb6;

    &:hover {
      background-color: darken(#007bb6, 3%);
    }
  }
}

@include mq(desktop, max) {
  .post-job {
    &__auth-separator {
      display: none;
    }

    &__auth {
      margin-top: 0;
    }
  }
}

@include mq(screen-lg, max) {
  .post-job {
    &__experience_level {
      .form-group {
        margin-bottom: 0;
      }
    }

    &__options-toggler {
      margin-top: 30px;
    }
  }
}

@include mq(phone-wide, max) {
  .post-job {
    &__heading {
      font-size: 26px;
      line-height: 32px;
      text-align: center;
    }

    &__description,
    &__useful-tips-heading {
      font-size: 15px;
      text-align: center;
    }

    &__facebook-btn,
    &__linkedin-btn {
      .icon,
      .separator {
        display: none;
      }

      &.btn-icon {
        .text {
          margin-left: 0;
        }
      }
    }
  }
}
