.partners-default {
  background: #fff;
  padding: 40px 0;
  min-height: 50px;

  &__carousel {
    .owl-stage {
      display: flex;
      align-items: center;
    }

    .owl-item {
      img {
        width: auto;
      }
    }
  }

  &__carousel-item {
    display: flex;
    justify-content: center;
  }
}
