{% extends 'html/base.html' %}

{% block body %}

{% include "html/header/default.html" %}

<div class="blog">
    <header class="blog__header">
        <div class="container">
            <h3 class="blog__heading">Blog</h3>
            <p class="blog__heading-level-two">Keep up to date with the latest news</p>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog__posts">
                    <div class="blog__post">
                        <img src="images/blog/train-lg.png" alt="" class="blog__post-image img-fluid">

                        <a href="#" class="blog__post-link">11 Tips to Help You Get New Clients Through Cold Calling</a>

                        <ul class="blog__post-meta list-unstyled">
                            <li class="blog__post-meta-item">By administrator</li>
                            <li class="blog__post-meta-item">October 25, 2016</li>
                            <li class="blog__post-meta-item">Career Counseling</li>
                        </ul>

                        <div class="blog__post-announcement">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="blog__aside">
                    <div class="blog__aside-search">
                        <div class="form-control-inline-icon inline-icon-right">
                            <input id="example-text-input-with-right-icon" type="text" class="form-control" placeholder="To search type and hit enter">
                            <span class="icon iconfont-right iconfont-search-v2"></span>
                        </div>
                    </div>

                    <h6 class="blog__aside-question-heading">Do you have any questions?</h6>

                    <div class="blog__aside-question">
                        <div class="blog__aside-question-ask">
                            <p>
                                If you are having any questions, please feel free to ask.
                            </p>

                            <a href="#" class="btn btn-primary btn-block">
                                <span class="icon iconfont-envelope"></span> Drop us a line
                            </a>
                        </div>
                    </div>
                    <div class="blog__aside-tabs">
                        <nav class="nav nav-pills flex-column flex-sm-row">
                            <a class="flex-sm-fill text-sm-center nav-link active" href="#tab-recent" data-toggle="tab">Recent</a>
                            <a class="flex-sm-fill text-sm-center nav-link" href="#tab-popular" data-toggle="tab">Popular</a>
                            <a class="flex-sm-fill text-sm-center nav-link" href="#tab-comments" data-toggle="tab">Comments</a>
                        </nav>
                        <div class="tab-content blog__aside-tabs-content">
                            <div class="tab-pane active" id="tab-recent" role="tabpanel">
                                <div class="list-unstyled blog__aside-sm-posts">
                                    <a href="#" class="blog__aside-sm-post">
                                        <img src="images/blog/train-sm.png" alt="" class="blog__aside-sm-post-image" width="100" height="75">
                                        <div>
                                            <div class="blog__aside-sm-post-announce">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
                                            <div class="blog__aside-sm-post-meta">October 25, 2015</div>
                                        </div>
                                    </a>
                                    <a href="#" class="blog__aside-sm-post">
                                        <img src="images/blog/girl-sm.png" alt="" class="blog__aside-sm-post-image" width="100" height="75">
                                        <div>
                                            <div class="blog__aside-sm-post-announce">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
                                            <div class="blog__aside-sm-post-meta">October 25, 2015</div>
                                        </div>
                                    </a>
                                    <a href="#" class="blog__aside-sm-post">
                                        <img src="images/blog/food-sm.png" alt="" class="blog__aside-sm-post-image" width="100" height="75">
                                        <div>
                                            <div class="blog__aside-sm-post-announce">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
                                            <div class="blog__aside-sm-post-meta">October 25, 2015</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-popular" role="tabpanel">
                                2
                            </div>
                            <div class="tab-pane" id="tab-comments" role="tabpanel">
                                3
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="blog__related-posts">
        <div class="container">
            <h4 class="blog__related-posts-heading">Related Posts</h4>

            <div class="blog__related-posts-wrap">
                <div class="blog__related-post-item">
                    <img src="images/blog/thumbs/1.png" alt="" class="blog__related-post-item-thumb" width="200" height="162">
                    <a href="#" class="blog__related-post-item-title">Top Treats around Town</a>
                    <div class="blog__related-post-item-announce">Sed ut perspiciatis unde...</div>
                </div>
                <div class="blog__related-post-item">
                    <img src="images/blog/thumbs/2.png" alt="" class="blog__related-post-item-thumb" width="200" height="162">
                    <a href="#" class="blog__related-post-item-title">Taste the Culture</a>
                    <div class="blog__related-post-item-announce">Sed ut perspiciatis unde...</div>
                </div>
                <div class="blog__related-post-item">
                    <img src="images/blog/thumbs/3.png" alt="" class="blog__related-post-item-thumb" width="200" height="162">
                    <a href="#" class="blog__related-post-item-title">Marcel Proust</a>
                    <div class="blog__related-post-item-announce">Sed ut perspiciatis unde...</div>
                </div>
                <div class="blog__related-post-item">
                    <img src="images/blog/thumbs/4.png" alt="" class="blog__related-post-item-thumb" width="200" height="162">
                    <a href="#" class="blog__related-post-item-title">Our Favorite Airports</a>
                    <div class="blog__related-post-item-announce">Our Favorite Airports</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="blog__post-comments">
            <div class="row">
                <div class="col-lg-10">
                    <div class="blog__post-comments-amount">1 Comment</div>
                    <div class="blog__post-comments-items">
                        <div class="blog__post-comments-item-wrap">
                            <div class="blog__post-comments-item">
                                <img src="images/avatars/1.png" alt="" class="blog__post-comments-item-user-avatar" width="100" height="100">
                                <a href="#" class="blog__post-comments-item-user-name">Amber Peters</a>
                                <div class="blog__post-comments-item-comment-text">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                    totam rem aperiam. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam.
                                </div>
                                <div class="blog__post-comments-item-controls">
                                    <div class="blog__post-comments-item-date">March 29, 2016 at 12:52 pm</div>
                                    <a href="#" class="blog__post-comments-item-reply">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="blog__post-comments-form">
            <h5 class="blog__post-comments-form-heading">Post a Comment</h5>

            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="form-full-name">Your full name</label>
                                <input type="text" id="form-full-name" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="form-email-address">Email address</label>
                                <input type="text" id="form-email-address" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="form-website">Website</label>
                                <input type="text" id="form-website" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="form-comment">Write your comment here</label>
                                <textarea id="form-comment" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <button type="button" class="btn btn-primary btn-lg btn-block">Publish</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% include "html/footer/default.html" %}

{% endblock %}