{% extends 'html/base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="vendors/select2/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="css/vendors/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="vendors/nouislider/nouislider.min.css">
<link rel="stylesheet" type="text/css" href="css/vendors/nouislider/nouislider.min.css">
<link rel="stylesheet" type="text/css" href="vendors/owl-carousel/assets/owl.carousel.min.css">
{% endblock %}

{% block body %}

{% include "html/header/properties.html" %}
{% include "html/hero/properties.html" %}
{% include "html/filter/properties.html" %}
{% include "html/listings/properties.html" %}
{% include "html/choose-us/properties.html" %}
{% include "html/agents/properties.html" %}
{% include "html/testimonials/properties.html" %}
{% include "html/news/recent.html" %}
{% include "html/newsletter/subscribe-now.html" %}
{% include "html/popular/properties.html" %}
{% include "html/footer/properties.html" %}

{% endblock %}

{% block javascripts %}
{{ super() }}
<script src="vendors/select2/js/select2.min.js"></script>
<script src="vendors/nouislider/nouislider.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="js/properties.js"></script>
{% endblock %}