.social-auth {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    margin-bottom: 20px;
  }

  &__links {
    a {
      display: inline-block;

      &:hover {
        text-decoration: none;
      }

      + a {
        margin-left: 10px;
      }
    }
  }
}
