.listings-grid-map {
  background: #ebeff3;

  .button-browse-all {
    margin-top: 5px;
    margin-bottom: 40px;
  }

  &__view-type {
    padding: 0 30px;

    a,
    a:hover {
      color: #bfbfbf;
      display: inline-block;
      margin-right: 9px;
      font-size: 19px;
      line-height: 19px;
      text-decoration: none;

      &.is-active {
        color: #8c8c8c;
      }
    }
  }

  &__listings-wrap {
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar-track {
      border-radius: 0;
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0;
      background-color: transparent;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: #c3cada;
      }
    }
  }

  &__filter {
    padding: 30px 30px 0 30px;
  }

  &__items {
    padding: 30px;
    padding-top: 0;

    &:first-child {
      .listings-grid-map-item {
        margin-top: 0;
      }
    }
  }

  &__item {
    margin-top: 30px;
  }

  &__item-image-block {
    position: relative;
    overflow: hidden;
  }

  &__item-image {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
  }

  &__image-icon {
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 16px;
  }

  &__item-price {
    font-size: 17px;
    line-height: 17px;
    color: #fff;
    background: rgba(#000, .5);
    padding: 11px 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  &__item-old-price {
    font-size: 14px;
    line-height: 14px;
    text-decoration: line-through;
    margin-right: 4px;
    position: relative;
    top: 1px;
  }

  &__item-info-block {
    background: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 26px 17px;
  }

  &__item-name,
  &__item-name:hover {
    color: #0063d3;
    font-family: $font-name;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    border-bottom: 1px solid rgba(#0063d3, .25);
    text-decoration: none;
  }

  &__item-name {
    &:hover {
      border-bottom: 1px solid rgba(#0063d3, .5);
    }
  }

  &__item-check-icon {
    display: inline-flex;
    font-size: 16px;
    color: #bfbfbf;
    margin-left: 7px;
  }

  &__item-description {
    margin-top: 9px;
    color: $text-color-light;
    font-size: 17px;
  }

  &__item-extras-block {
    display: flex;
    margin-top: 26px;
    align-items: center;
  }

  &__item-extras-rating-amount {
    width: 39px;
    height: 39px;
    border: 2px solid $color-primary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    line-height: 17px;
    font-weight: 300;
    font-family: $font-name;
    border-radius: 50%;
    color: $color-primary;
  }

  &__item-extras-address {
    margin-left: 10px;
    color: $text-color-light;
    font-size: 17px;
  }

  &__item-extras-categories {
    flex: 1;
    text-align: right;

    .icon {
      color: $color-primary;
      font-size: 24px;
      line-height: 27px;
      display: inline-flex;

      + .icon {
        margin-left: 6px;
      }
    }

    .iconfont-open-door {
      font-size: 27px;
      position: relative;
      top: 3px;
    }
  }

  &__filter {
    label {
      color: #000;
      display: block;
    }

    .form-control {
      border-color: transparent;
      color: #000;
      padding: 9.5px 15px;
      font-size: 15px;

      &:focus {
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
      }
    }

    .select2-container--default {
      height: 46px;
      width: 100% !important; /* Redefine inline styles */

      .select2-selection--single {
        border-color: transparent;
      }

      .select2-selection__rendered {
        line-height: 44px;
        font-size: 15px;
      }
    }
  }

  &__filter-price-range-slider {
    margin-left: -15px;
    margin-right: -15px;
    position: absolute;
    bottom: 38px;
    width: 100%;

    &.range-slider-default-shadow {
      background: #D9E0E8;
    }

    .noUi-connect {
      background: #0698ff;
    }
  }

  &__filter-button {
    font-size: 20px;
    padding: .45rem 1.333rem .55rem 1.333rem;
  }
}

@include mq(desktop-wide, max) {
  .listings-grid-map {
    &__map-wrap {
      min-width: 40%;
    }
  }
}

@include mq(desktop, max) {
  .listings-grid-map {
    &__filter-price-range-slider {
      position: static;
      margin: 15px 0 0 0;
    }

    &__items {
      justify-content: center;
    }

    .button-browse-all {
      margin-bottom: 80px;
    }

    &__view-type {
      margin-top: 30px;
    }
  }
}

@include mq(screen-lg, max) {
  .listings-grid-map {
    flex-direction: column;

    &__map-wrap {
      flex: 1;
      min-width: 100%;
    }

    &__items {
      flex-wrap: wrap;
    }

    &__item-image-block {
      height: auto;
    }
  }
}

@include mq(phone-wide, max) {
  .listings-grid-map {
    &__item {
      width: auto;
      min-width: 0;
    }

    &__map {
      display: none;
    }
  }
}
