.listings-jobs {
  padding: 50px 0;

  &__heading {
    margin-bottom: 30px;
  }

  &__item {
    border-top: 1px solid rgba(#000, .05);
    padding-top: 30px;
    display: flex;

    &:last-child {
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(#000, .05);
    }

    + .listings-jobs__item {
      margin-top: 30px;
    }
  }

  &__item-content {
    display: flex;
  }

  &__item-avatar {
    border-radius: 2px;
    margin-right: 20px;
    width: 100px;
    height: 100px;
  }

  &__item-title {
    margin-bottom: 15px;

    a {
      font-size: 22px;
      color: #222;
      font-weight: 300;
      font-family: $font-name;
      display: inline-block;
      border-bottom: 1px solid transparent;
      line-height: 26px;

      &:hover {
        color: #222;
        text-decoration: none;
        border-bottom-color: #222;
      }
    }
  }

  &__item-title--badge {
    margin-left: 12px;
    font-size: 14px;
    padding: 7px 10px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    top: -2px;
  }

  &__item-description {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  &__item-extras {
    background-color: #f1f4f7;
    border-radius: 2px;
    padding: 24px 20px;
    margin: 0;
    margin-left: 30px;
    min-width: 371px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-extras-item {
    font-size: 16px;
    color: #222;

    + .listings-jobs__item-extras-item {
      margin-top: 15px;
    }

    .icon {
      font-size: 16px;
      display: inline-block;
      width: 24px;
      position: relative;
      top: 2px;
    }

    .iconfont-map-point {
      font-size: 18px;
      left: -1px;
    }

    a {
      color: #222;
      display: inline-block;
      border-bottom: 1px solid transparent;

      &:hover {
        color: #222;
        text-decoration: none;
        border-bottom-color: #222;
      }
    }
  }
}

@include mq(screen-lg, max) {
  .listings-jobs {
    &__item {
      flex-direction: column;
    }

    &__item-extras {
      margin-left: 0;
      min-width: 0;
    }
  }
}

@include mq(phone-wide, max) {
  .listings-jobs {
    &__item-avatar {
      display: none;
    }

    &__item-title {
      .badge {
        &::before {
          content: '';
          display: block;
        }

        margin-left: 0;
        width: auto;
        margin-top: 10px;
      }
    }
  }
}